/* ------------ MAIN --------------- */
/* ------- HEADER ---------- */
header .navbar {
  background-color: #198754; }
  header .navbar .container-fluid .navbar-brand .logo {
    height: 60px;
    width: 60px; }
  header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #fff; }
  header .navbar .container-fluid .navbar-collapse .navbar-nav #cart {
    background-color: white;
    border-radius: 100px; }
    header .navbar .container-fluid .navbar-collapse .navbar-nav #cart .nav-link {
      color: #198754;
      font-size: 20px; }
  header .navbar .container-fluid .navbar-collapse .d-flex .btn {
    color: #fff; }

/* ---------------  FOOTER ---------------------- */
footer {
  background-color: #262626;
  color: #fff; }
  footer .container-fluid .row .develope h2 {
    font-size: 24px; }
  footer .container-fluid .row .develope p {
    color: #bdb4b4; }
  footer .container-fluid .row .explorer h2 {
    font-size: 24px; }
  footer .container-fluid .row .explorer .box {
    padding-left: 0; }
    footer .container-fluid .row .explorer .box a {
      text-decoration: none;
      color: #bdb4b4; }
      footer .container-fluid .row .explorer .box a:hover {
        text-decoration: underline; }
  footer .container-fluid .row .social-network h2 {
    font-size: 24px; }
  footer .container-fluid .row .social-network a {
    padding: 10px; }
    footer .container-fluid .row .social-network a i {
      font-size: 30px; }
  footer .container-fluid .row .legal {
    display: flex;
    flex-direction: column;
    align-content: center; }
    footer .container-fluid .row .legal h2 {
      font-size: 24px;
      color: #fff; }
    footer .container-fluid .row .legal .box {
      padding-left: 0; }
      footer .container-fluid .row .legal .box li a {
        text-decoration: none;
        color: #bdb4b4; }
        footer .container-fluid .row .legal .box li a:hover {
          text-decoration: underline; }

main {
  margin: 10px; }
  main .container-index {
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    width: 70%; }
    main .container-index .titulo-index {
      background-color: #198754;
      color: white;
      border-radius: 100px; }

main #userLogin {
  font-size: 40px;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke: black 2px; }

main .bienvenida .fila {
  display: grid;
  grid-template-columns: auto;
  padding: 10px; }
  main .bienvenida .fila .columna-text {
    text-align: center;
    padding: 5px; }
    main .bienvenida .fila .columna-text .contenedor-text {
      font-size: 14px; }
  main .bienvenida .fila .columna-img {
    justify-self: center;
    padding: 5px;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.5); }
    main .bienvenida .fila .columna-img .contenedor-img img {
      height: 240px;
      width: 280px; }

main .showProducts h2 {
  font-size: 30px;
  padding: 5px 40px;
  text-decoration: underline;
  text-align: center; }

main .showProducts .ecommerce .row .card {
  width: 18rem; }

main .showProducts .ecommerce h2 {
  font-size: 30px;
  padding: 5px 40px;
  text-decoration: underline;
  text-align: center; }

main {
  min-height: 90vh; }

@media screen and (min-width: 768px) {
  /* ecommerce */
  main h1 {
    font-size: 60px;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: black 2px; }
  main .bienvenida .fila {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px; }
    main .bienvenida .fila .columna-text {
      text-align: left;
      align-self: center; }
      main .bienvenida .fila .columna-text .contenedor-text {
        font-size: 20px; }
    main .bienvenida .fila .columna-img .contenedor-img img {
      height: 340px;
      width: 400px; }
  main .showProducts .ecommerce .row .card {
    width: 18rem; }
  /* --- footer --- */
  footer .container-fluid .row .col-4 .link-arriba {
    width: 40%; } }
