@media screen and(min-width: 768px ) {
    /* ecommerce */
    main{
        h1{
            /* font-size: 60px;
            -webkit-text-fill-color: #fff;
            -webkit-text-stroke: black 2px;  */
        }
        .bienvenida{
            .fila{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                padding: 20px;
                .columna-text{
                    text-align: left;
                    align-self: center;
                    .contenedor-text{
                    }
                }
                .columna-img{
                    
                    .contenedor-img{
                        img{
                            
                        }
                    }
                }
            }
        }
    }
    /* --- footer --- */
    footer{
        .container-fluid{
            .row{
                .col-4{
                    .link-arriba{
                        width: 40%;
                    }
                }
            }
        }
    }

}