main{
    margin: 10px;
    .container-index{
        box-shadow: 0px 15px 15px rgba(0, 0, 0, .5);
        padding: 10px;
        border-radius: 10px;
        width: 70%;
        .titulo-index{
            background-color: #198754;
            color: white;
            border-radius: 100px;
            .h3{
            
            }
        }
        .formulario{
            
            label{
                
            }
            input{

            }
        }
        .text-center{
            .btn{

            }
        }
    }
}