/* ------- HEADER ---------- */

header{
    .navbar{
        background-color: #198754;
        .container-fluid{
            .navbar-brand{
                .logo{
                    height: 60px;
                    width: 60px;
                }
            }
            .navbar-toggler{
                .navbar-toggler-icon{

                }
            }
            .navbar-collapse{
                .navbar-nav{
                    .nav-item{
                        .nav-link{
                            color: #fff;
                        }
                    }
                    #cart{
                        background-color: white;
                        border-radius: 100px;
                        
                        .nav-link{
                            color: #198754;
                            font-size: 20px;
                        }
                    }
                }
                .d-flex{
                    .form-control{

                    }
                    .btn{
                        color: #fff;
                    }
                }
            }
        }
    }
}
